/* body {
  font-family: sans-serif;
} */

/* a {
  text-decoration: none;
} */

label {
  display: block;
}

input {
  margin-bottom: 10px;
}

.formMain {
  margin-bottom: 20px;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

.auth {
  color: #77535e;
}
