/* body {
  font-family: sans-serif;
} */

/* a {
  text-decoration: none;
} */
.jumbotron {
  background-image: url("jumbobackground.jpg");
}
#jumboPlayers {
  background: rgba(188, 219, 233, 0.925);
}
body {
  font-family: "American Typewriter";
  background: linear-gradient(rgb(250, 250, 250), rgb(208, 235, 236)) no-repeat
    center fixed;
  background-size: cover;
}
label {
  display: block;
}

input {
  margin-bottom: 10px;
}

.formMain {
  margin-bottom: 20px;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

.messageForm {
  width: 350px;
}
.auth {
  color: #77535e;
}

/* .chat {
} */
.chat-area {
  padding: 20px;
  height: 300px;
  max-width: 65vw;
  min-width: 300px;
  background-color: #e6f0fa;
  overflow-y: scroll;
  font-size: 16px;
  /* display: flex;
  flex-direction: column; */
}

.chat-bubble .chat-time {
  font-size: 16px;
  color: #757575;
}
/* .form-control {
  width: 60%;
} */

.chat-area .chat-bubble {
  padding: 4px;
  background-color: #a5d6a7;
  margin: 3px;
  max-width: 100%;
  word-wrap: break-word;
  border-radius: 4px;
}
.chat-area .chat-bubble.user {
  background-color: #bbdefb;
  padding: 4px;
  border-radius: 4px;
  max-width: 100%;
  word-wrap: break-word;
  margin: 3px;
  /* float: right; */
}
.avatar {
  max-width: 20px;
  height: 40px;
}
